.btnAdd {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  background: #323142;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  font-size: 20px;
  font-weight: 800;
  user-select: none;

  @media (max-width: 767px) {
    width: 30px;
    height: 30px;

    font-size: 18px;
  }

  @media (min-width: 768px) {
    &:hover {
      background: #726eaa;
    }
  }
  &:active {
    background: #1e1c3e;
  }
}