.main {
  padding: 40px 0px 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 100px;

  @media (max-width: 767px) {
    padding: 20px 0px 100px 0px;
  }
}












